/**
 * Bliss SCSS
 */
@import '../../node_modules/bootstrap/scss/bootstrap-grid.scss';
@import '../../node_modules/bootstrap/scss/bootstrap-utilities.scss';


$primary-color: #1677ff;
$success-color: #52c41a;
$warning-color: #faad14;
$error-color: #f5222d;
